package main

templ Page(content templ.Component) {
    <html>
        <head>
            <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>            <link rel="stylesheet" href="/static/style.css">
        </head>
        <body class="min-h-screen min-w-screen bg-gradient-to-b from-blue-800 to-pink-600 to-70%">
            @content
        </body>
    </html>
}