package main

templ Page(content templ.Component) {
    <html>
        <head>
            <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/static/style.css">
        </head>
        <body class="h-full w-full bg-gradient-to-b from-blue-800 to-pink-600 to-70%">
            @content
        </body>
    </html>
}