package main

templ NewVote() {
	<form
		hx-post="/vote"
	>
		<label for="title">Title:</label>
		<input type="text" name="title" id="title"/>
        <br>
		<label for="choice1">Choice:</label>
		<input type="text" name="choice1" id="choice1"/>
	</form>
}
